<% content_for :meta_tags do %>
    <meta property="og:url" content="https://www.dukop.dk/">
    <meta property="og:title" content="Duk dig ikke - Duk Op!">
    <meta property="og:description" content="DukOp er vores fælles guide til, hvad der sker i København og omegn, hvad enten du leder efter demonstrationer, koncerter, fester, møder, folkekøkkener, havedage, workshops, kunst- og filmfremvisninger, mv..">
    <meta property="og:image" content="https://www.dukop.dk<%= image_path('social_media.jpg') %>">
    <meta property="og:site_name" content="Duk Op">
    <meta property="og:locale" content="da_DK">
<% end %>

<% @calendar.highlights.each do |event| %>
  <%= present(event).card_view %>
<% end %>

<div class="page-container">
  <%= render partial: 'graph' %>
</div>
<div class="page-container">
  <div class="table">
    <% @sorted.each do |day, events, index| %>
      <div class="table__day">
        <div class="table__header">
          <%= I18n.localize(day, format: :full) %>
        </div>
        <% events.each do |event| %>
          <% presenter = present(event) %>
            <a href="<%= url_for(event) %>" class="table__event">
              <div class="table__time">
                <%= presenter.time %>
              </div>
              <div class="table__title">
                <%= presenter.title %>
              </div>
              <div class="table__place">
                <%= presenter.locationText %>
              </div>
            </a>
          <% end %>
          </div>
        <% end %>
    </div>
  </div>
<div class="overlay" id="js-overlay"></div>

<%= render partial: 'index_js' %>
