<%= form_for @event, html: { multipart: true, name: 'createForm' } do |f| %>

    <div class="create-form__row">
        <%= f.label :title, class: 'create-form__label' %>
        <div class="create-form__inputs">
            <%= f.text_field :title, class: 'create-form__input' %>
        </div>
    </div>
    <div class="create-form__row">
        <%= f.label :picture, class: 'create-form__label' %>
        <div>
          <%= label_tag 'uploadFile', 'Upload file', id: 'uploadFileLabel', class: 'create-form__file' %>
          <%= f.file_field :picture, id: 'uploadFile' %>
          <div class="create-form__info">
              Only PNGs or JPEGs CHANGEME....
          </div>
        </div>
    </div>
    <div class="create-form__row">
        <%= f.label :short_description, class: 'create-form__label' %>
        <div class="create-form__inputs">
            <%= f.text_area :short_description, class: 'create-form__input' %>
        </div>
    </div>
    <div class="create-form__row">
        <%= f.label :categories, class: 'create-form__label' %>
        <div>
            <div id="selectList" class="create-form__select-list">
                <% Category.all.each do |c| %>
                    <%= f.check_box(:category_ids, {:multiple => true, :id => c.id}, c.id, false) %>
                    <%= label_tag c.id, c.danish %>
                <% end %>
            </div>
        </div>
    </div>
    <%= f.fields_for :location do |l| %>
      <div class="create-form__row">
        <%= f.label :location, class: 'create-form__label' %>
        <div class="create-form__inputs">
            <%= l.text_field :name, class: 'create-form__input', list: 'locations' %>
            <datalist id="locations">
              <% Location.all.each do |location| %>
                <option data-street_address="<%= location.street_address %>" data-postcode="<%= location.postcode %>" data-town="<%= location.town %>" value-uppercase="<%= location.name.upcase %>" value="<%= location.name %>" label="<%= "#{location.street_address}, #{location.postcode} #{location.town}" %>" />
              <% end %>
            </datalist>
        </div>
      </div>
      <div class="create-form__row">
        <%= f.label "Address", class: 'create-form__label' %>
        <div class="create-form__inputs">
          <%= l.text_field :street_address, class: 'create-form__input' %>
        </div>
      </div>
      <div class="create-form__row">
        <%= f.label "Zipcode/Town", class: 'create-form__label' %>
        <div class="create-form__inputs">
          <%= l.text_field :postcode, class: 'create-form__input__postcode' %>
          <%= l.text_field :town, class: 'create-form__input__town' %>
        </div>
      </div>
    <% end %>
    <div class="create-form__row">
        <%= label_tag '', 'Tidspunkt', class: 'create-form__label' %>
        <div>
            <div>
                <div id="timeInput" class="create-form__date">
                    <div>
                        <div>
                          <%= f.label :start_time, class: 'create-form__label' %>
                        </div>
                        <div>
                            <%= f.time_field :start_time, step: 15 %>
                            <%= f.date_field :start_time %>
                        </div>
                    </div>
                    <div>
                        <div>
                          <%= f.label :end_time, class: 'create-form__label' %>
                        </div>
                        <div>
                            <%= f.time_field :end_time, step: 15 %>
                            <%= f.date_field :end_time %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-form__row">
        <%= f.label :link, class: 'create-form__label' %>
        <div>
            <%= f.url_field :link, class: 'create-form__input' %>
        </div>
    </div>
    <div class="create-form__row">
        <%= label_tag '', 'Price', class: 'create-form__label' %>
        <div>
          <%= check_box_tag :priceCheck %>
          <%= label_tag :priceCheck, 'Does it cost something? FIXME' %>
        </div>
        <div>
          <%= f.text_field :price, id: 'priceInput', class: 'create-form__input', style: 'display: none;' %>
        </div>
    </div>
    <div class="create-form__row">
        <%= f.label :comments_enabled, class: 'create-form__label' %>
        <div>
            <%= f.check_box_tag :comments_enabled %>
            <%= f.label :comments_enabled %>
        </div>
    </div>
    <div class="create-form__row">
        <%= f.label :published, class: 'create-form__label' %>
        <div>
            <%= f.check_box_tag :published %>
            <%= f.label :published %>
        </div>
    </div>
    <%= f.submit 'Create event', class: 'create-form__submit' %>

<% end %>
<%= render partial: 'form_js' %>
