<%= simple_form_for @event, html: { multipart: true } do |f| %>


    <%= f.input :title %>
    <%= f.input :cancelled if @event.persisted? %>

<div class="create-form__row">
    <%= f.label :picture, class: 'create-form__label' %>
    <div>
    <label id="js_button_text" class="create-form__file" for="event_picture">
        <%# show the filename in the button if there is a file %>
        <% if @event.picture.present? %>
            <%= @event.picture.original_filename %>
        <% else %>
            <%= t '.choose_file' %>
        <% end %>
    </label>
      <%= f.input :picture, label: false %>
    <%= bootstrap_glyphicon('trash', 'btn btn-default') if @event.picture.present? %>
    <input type="hidden" name="remove_picture" id="event_remove_picture"/>
    <%= f.hint t('.picture.warning'), class: 'create-form__info', data: { role: 'picture_warning' } %>
    </div>
</div>

<%= f.input :short_description %>
<%= f.association :categories, label_method: ->(obj){ obj.send(t(:language)).titleize }, required: true,
    input_html: { class: 'selectpicker', title: t('.choose_category') },
    wrapper_html: { class: 'create-form__select-list' }
%>
<div class="create-form__row">
    <%= f.label :location_id, class: 'create-form__label' %>
    <%# If we already have a location the placeholder should be that location's name %>
    <% location_name = @event.location.display_name rescue nil %>
    <%= text_field_tag(
      'location-typeahead', location_name,
      placeholder: "#{location_name || t('.choose_location')}",
      class: "typeahead form-control",
        data: {
          api_path: locations_path,
          remote_path: new_location_path,
          label: t('.create_location'),
          display_key: 'display_name',
          header: t('.typeahead_header'),
          target: '#event_location_id',
          empty_message: t('.empty_location')
        }
        )
        %>
        <%= f.full_error :location_id %>
        <%= link_to new_location_path, class: 'btn btn-default btn-sm pull-right',
        data: {
          remote: true,
          toggle: 'modal',
          target: 'remote_form_modal',
          update_val: '#location-typeahead',
          update_field: 'event[location_id]',
          modal_title: t('.new_location_title')
        } do %>
        <%= t('.create_location') %>
        <%= bootstrap_glyphicon('plus') %>
        <% end %>

        <%= f.input :location_id, as: :hidden %>

    </div>

    <%# This dialog is only for new events %>
    <% unless @event.persisted? %>
      <div id='check_recurring' class="checkbox">
        <label class='create-form__label'>
          <%= check_box_tag :recurring, 'yes', false,
          data: { function: 'show', target: '#repeating_control', hide: '#standard_time_control' }
          %>
          <%= t '.repeating_event' %>
        </label>
      </div>

      <div id="repeating_control" class='create-form__row' style="display: none;">
        <h2><%= t 'event_series.form.repetition_header' %></h2>
        <%= f.simple_fields_for :event_series do |s| %>
         <%= render partial: 'event_series/repeating_control', locals: { builder: s,  coming_events: false } %>
        <% end %>
      </div>
    <% end %>


      <%= f.input :start_time, start_year: Date.today.year, end_year: Date.today.year + 1, minute_step: 15 %>
      <%= f.input :end_time, start_year: Date.today.year, end_year: Date.today.year + 1, minute_step: 15 %>

      <%= f.input :link, as: :url %>

    <%# event price field should only be shown a) if there is already a price
    or b) if the user has checked this box to say that there is a price
    Note the javascript hooks on the data elements. %>
    <% if @event.price.blank? %>
    <div class="input boolean optional event_price_enabled checkbox">
      <label class="create-form__label" for="event_price_enabled">
        <input class="boolean optional checkbox" id="event_price_enabled"
        name="event[price_enabled]" value="1" type="checkbox"
        data-function="show" data-target=".event_price">
        <%= t '.enable_price' %>
      </label>
    </div>
    <% end %>

    <% if current_user.is_admin? %>
    <div class="input boolean optional checkbox">
      <label class="create-form__label" for="event_featured">
      <%= f.input_field :featured, boolean_style: :inline, class: 'checkbox no-form-control' %>
      <%= t '.feature_event?' %>
      </label>
    </div>
    <% end %>

    <div class="create-form__row">
      <div class="col-xs-12">
        <% visibility =  @event.price.present? ? 'block' : 'none' %>
        <%= f.input :price, wrapper_html: { style: "display: #{visibility}"} %>
      </div>
    </div>
    <div class="create-form__row">
      <label class="create-form__label" for="event_comments_enabled">
        <%= f.input_field :comments_enabled, boolean_style: :inline, class: 'checkbox no-form-control' %>
        <%= t 'simple_form.labels.defaults.comments_enabled' %>
      </label>
    </div>
    <div class="create-form__row">
      <label class="create-form__label" for="event_published">
        <%= f.input_field :published, boolean_style: :inline, class: 'checkbox no-form-control' %>
        <%= t 'simple_form.labels.defaults.published' %>
      </label>
      <span class="text-info">
        <%= t('simple_form.labels.defaults.published_help') %>
      </span>
    </div>
    <br/>
    <div class="create-form__row">
      <div class="col-xs-12">
        <%= f.button :submit, class: '' %>
      </div>
    </div>
    <br/>
    <% end %>
    <%= render partial: 'layouts/modal_wrapper' %>
