<div class="card card--static">
  <div class="card__text">
    <h1 class="title"><%= t(:news) %></h1>

    <% @posts.each do |post| %>

      <div class="news__link">
        <div class="news__date news__date--title">
          <%= format_datetime(post.created_at) %>
        </div>
        <div class="news__content">
          <h2 class="title title__bold"><%= link_to(post.title, post) %></h2>
          <%= truncate(post.body, length: 130, separator: ' ') %>
        </div>
      </div>

    <% end %>

    <br>

    <% if current_user.present? && current_user.is_admin? %>
      <%= link_to 'New Post', new_post_path %>
    <% end %>
  </div>


</div>
