<%= schema_json @location %>
<%= auto_discovery_link_tag(:rss, {format: :rss}, {title: "Feed for location #{@location.display_name}"}) %>
<div class="location-card">
    <div class="card__layout">
        <div class="card__text">
            <div class="card__header">
                <h1><%= @location.try(:display_name) %></h1>
                <h2><%= @location.address %></h2>
            </div>
            <div class="card__main">
                <div><%= auto_link(simple_format(@location.try(:description))) %></div>
                <div><%= auto_link(@location.try(:link)) %></div>
                <% if current_user && current_user.can_edit?(@location) %>
                    <%= link_to t('.edit_location'), edit_location_path %>
                    <%= link_to t('.delete_location'), location_path, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </div>
        </div>
    </div>
</div>
